@model Person;

@{
    var fn = Model.FirstName;
    ViewData["TitlePhrase"] = fn;
}

<h2>Are you sure you want to delete?</h2>
<ul class="List-group">
  <li class="List-group-item">First Name : @fn</li>
  <li class="List-group-item">Last Name : @Model.SurName</li>
  <li class="List-group-item">Address: @Model.Address</li>
  <li class="List-group-item">Gender: @Model.Gender</li>
  <li class="List-group-item">Salary: @Model.Salary</li>
</ul>

<form asp-controller="Employee" asp-action="Delete" method="POST">
  <input type="hidden" asp-for="Id" />
  <button type="submit" class="btn btn-danger">Ok Delete</button>
</form>