@model List<Person>

<h1>All Employees.</h1>


<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">First Name</th>
      <th scope="col">Sure Name</th>
      <th scope="col">Address</th>
      <th scope="col">Gender</th>
      <th scope="col">Salary</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var employee in Model)
    {
        <tr scope="row">
            <td>@employee.FirstName</td>
            <td>@employee.SureName</td>
            <td>@employee.Address</td>
            <td>@employee.Gender</td>
            <td>@employee.Salary</td>
        </tr>
    }
  </tbody>
</table>